
@{
    ViewBag.Title = "Report";
}

<h2>Reports Of Employee Management</h2>

<head>
    <style>
        .dropbtn {
            background-color: orangered;
            color: white;
            padding: 14px;
            font-size: 16px;
            cursor: pointer;
        }

            .dropbtn:hover {
                background-color: rgb(230, 99, 11);
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: antiquewhite;
            min-width: 140px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
</head>
<body>
    <br />
    <br />
    &nbsp;
    &nbsp;
    <div class="dropdown">
        <button onclick="EmployeeList()" class="dropbtn">Employee</button>
        <div id="myDropdown1" class="dropdown-content">
            <a href="#EmployeeList" onclick="Employee()">Employee</a>
            @*<button onclick="window.print()">Print this page</button>*@

        </div>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="dropdown">
        <button onclick="DepartmentList()" class="dropbtn">Department</button>
        <div id="myDropdown2" class="dropdown-content">
            <a href="#DepartmentList" onclick="Department()">Department</a>
            <br />
            @*<button onclick="window.print()">Print this page</button>*@

        </div>
    </div>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="dropdown">
        <button onclick="GradeMasterList()" class="dropbtn">Grademaster</button>
        <div id="myDropdown3" class="dropdown-content">
            <a href="#GrademasterList" onclick="Grademaster()">Grademaster</a>
            <br />
            @*<button onclick="window.print()">Print this page</button>*@
        </div>
    </div>

    <script>
        /* methods to hide and show the dropdown content */
        function EmployeeList() {
            document.getElementById("myDropdown1").classList.toggle("show");
        }

        function DepartmentList() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }


        function GradeMasterList() {
            document.getElementById("myDropdown3").classList.toggle("show");
        }

        /* methods to redirect to tutorial page that user will select from dropdown list */
        function Employee() {
               @*<li>@Html.ActionLink("GradeMaster", "GradeMaster", "Home")</li>*@
            window.location.replace("https://localhost:44344/Employee/Employee");
           

        }
        function Department() {
            window.location.replace("https://localhost:44344/Department/Department");

        }
        function Grademaster() {
            window.location.replace("https://localhost:44344/Home/GradeMaster_SP");

        }




        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    

</body>

