@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


@*<img src="emp2.jpg" alt="employee" style="width:100%;">*@



    <div class="container">
        <h2>KEY CONTACTS</h2>
        <br />
        <ul class="list-group">
            <li class="list-group-item">
                Purpose
                Any HR related queries (Salary a/c, Payroll queries, Rewards and Recognition, Updating personal information, Reporting details, Queries on PF, ESI and Leave, Medical Insurance)
                Salary Account, Offer Letter, ID Card & Educational or Employment Document Submission.
                Onboarding related queries
                Contact
                MYHR@infinite.com
                +91 9591366653 +91-8041930000; Extn: 3111
                ITSGhelpdesk@infinite.com
                Comp-Ben@infinite.com
            </li>
            <li class="list-group-item">
                Technical & Soft Skill Trainings.
                paatshala@infinite.com


            </li>
            <li class="list-group-item">
                Access Card, Workstation Allocation, Stationery Request & Visiting card
                Form 16, Tax Declaration, Final Settlement, Payslips& Meal Cards
                BizX Tool Related Queries.
                adminhelpdesk@infinite.com
                financehelpdesk@infinite.com
                BizX-Support@infinite.com
            </li>
        </ul>
    </div>

    @*KEY CONTACTS
        #
        1
        2
        Systems, Login ID or Password, Laptop Pass & Network Issues.
        3
        4
        Purpose
        Any HR related queries (Salary a/c, Payroll queries, Rewards and Recognition, Updating personal information, Reporting details, Queries on PF, ESI and Leave, Medical Insurance)
        Salary Account, Offer Letter, ID Card & Educational or Employment Document Submission.
        Onboarding related queries
        Contact
        MYHR@infinite.com
        +91 9591366653 +91-8041930000; Extn: 3111
        ITSGhelpdesk@infinite.com
        Comp-Ben@infinite.com
        onboarding@infinite.com
        5
        PF Transfer or Withdrawal
        6
        Medical & Group Insurance
        PFhelpdesk@infinite.com
        mediclaimhelpdesk@infinite.com
        7
        Technical & Soft Skill Trainings.
        paatshala@infinite.com
        8
        Access Card, Workstation Allocation, Stationery Request & Visiting card
        9
        Form 16, Tax Declaration, Final Settlement, Payslips& Meal Cards
        10
        BizX Tool Related Queries.
        adminhelpdesk@infinite.com
        financehelpdesk@infinite.com
        BizX-Support@infinite.com
        11
        Project Allocation, Project Extensions Leave Approvals
        12
        13
        Unwelcomed Sexual Behaviour
        Background Verification Queries
        14
        Payer / CaseNet HR Business Partner
        15
        Conduent HR Business Partner
        16
        Provider HR Business Partner
        Project/Reporting Manager
        POSH@infinite.com BGC@infnite.com
        Hersom.Thomas@infinite.com
        mounika.budda@infinite.com Fairoz.Khan@infinite.com
        infinite
        CONFIDENTIAL PROPRIETARY. NOT BE USED, DISCLOSED OR REPRODUCED, IN WHOLE OR IN PART, WITHOUT PRIOR WRITTEN CONSENT OF INFINITE, INC.
        2*@
    